<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Test</title>
        <script src="https://kit.fontawesome.com/d9c9664b69.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <header>
            <div class="logo fa-stack fa-2x">
                <p class="fas fa-file fa-stack-2x fa-inverse"></p>
                <p class="fas fa-brain fa-stack-1x"></p>
            </div>
            <div><hr></div>
        </header>

        <main>
            <section>
                <div class="name">
                    Evaluate a News Article with Natural Language Processing
                </div>
            </section>
            <section>
                <form class="enter needs-validation" novalidate>
                    <input id="user-url" type="text" value="" placeholder="The URL should start with https:// or http://" pattern="[(http(s)?):\/\/(www\.)?a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)" required>
                    <div class="validation-text"></div>
                    <button id="evaluate-page" type="button" >Evaluate Page</button>
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <!-- dynamically added content -->
                </div>
            </section>
        </main>

        <footer>
          <div class="page-footer">
            <div>
              <span> Evaluate News with NLP &copy; 2020</span>
            </div>
            <div class="social-buttons">
                <i><a class="fab fa-twitter-square mr-4 fa-2x" target="_blank" title="Twitter" href=""></a></i>
                <i><a class="fab fa-github mr-4 fa-2x" target="_blank" title="GitHub" href=""></a></i>
            </div>
          </div>
        </footer>

    </body>
</html>
