<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Test</title>
        <script src="https://kit.fontawesome.com/d9c9664b69.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <header>
            <div class="logo">
                <p>{</p>
                <p class="fas fa-brain"></p>
                <p>}</p>
            </div>
            <div class="name">
                Evaluate News <br> with NLP
            </div>
        </header>

        <main>
            <section>
                <p><strong>Add your Post URL in the below field</strong></p>
                <form class="enter needs-validation" novalidate>
                    <div class="input">
                        <input id="user-url" type="text" value="" placeholder="The URL should start with https:// or http://" pattern="[(http(s)?):\/\/(www\.)?a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)" required>
                        <div class="validation-text"></div>
                    </div>
                    <button id="evaluate-page" type="button" >Evaluate Page</button>
                </form>
            <section>

            <section>
                <p><strong>Evaluation Results:</strong></p>
                <div id="results">
                    <!-- dynamically added content -->
                </div>
            </section>
        </main>

        <footer>
          <div class="page-footer">
            <div class="rights">
              <span> Evaluate News with NLP &copy; 2020</span>
            </div>
            <div class="social-buttons">
                <a class="fab fa-twitter-square fa-2x" target="_blank" title="Twitter" href=""></a>
                <a class="fab fa-github fa-2x" target="_blank" title="GitHub" href=""></a>
            </div>
          </div>
        </footer>

    </body>
</html>
