@import 'resets';
@import 'footer';
@import 'header';
@import 'form';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #404040;
    background: url(../images/orig_147365.jpg);
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
