@import "vars";

.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #003f5a;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: $primaryColor;

    a{
    text-decoration: none;
    color: #e65d33;
    padding: 0rem .5rem;

    &:hover, &:focus{
      text-decoration: none;
      color: $firstSecondaryColor;
      font-weight: bold;

    }
  }

  .social-buttons {
    color: #CF5151;
    padding: .5rem 1rem;
  }

  .rights {
    color: #484441;
    padding: .5rem 1rem;
  }
}



@media (max-width: 992px){
  .page-footer {
    flex-direction: column;
    font-size: .8em;
  }
}

@media (min-width: 576px) and (max-width: 768px){
  .page-footer {
    font-size: 1.2em;
  }
}