.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #003f5a;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #e1e1e0;

    a{
    text-decoration: none;
    color: white;

    &:hover, &:focus{
      text-decoration: none;
      color: #5dbcd2;
      font-weight: bold;

    }
  }
}

.social-buttons {
	color: #CF5151;
}

@media (max-width: 992px){
  .page-footer {
    flex-direction: column;
    font-size: .8em;
  }
}

@media (min-width: 576px) and (max-width: 768px){
  .page-footer {
    font-size: 1.2em;
  }
}