@import "vars";

form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, .2);

    .input {
    	flex-grow: 1;
    }
}

input {
    width: 100%;
    line-height: 2rem;
    padding: .5rem 1rem;
    border-radius: 7px;
    border: 1px solid #545454;
}

button {
	margin-left: .5rem;
	background: $firstSecondaryColor;
	line-height: 2rem;
	padding: .5rem 1rem;
	text-decoration: none;
	color: white;
	letter-spacing: .08em;
	border-radius: 7px;
	border: 1px solid #545454;

  	&:focus, &:hover {
      background: $secondSecondaryColor;
      border: 1px solid white;
      color: white;
  	}
}

.validation-text {
	display: none;
	margin: .5rem;
}

.was-validated {
	input {
		border: 1.5px solid #971515;
	}

	.validation-text {
		display: block;
		color: #971515;
	}
}

@media (max-width: 576px){
	form {
	    border: 1px solid #545454;
	    border-radius: 3px;
	    display: flex;
	    flex-direction: column;
	    align-items: stretch;

	    button {
	    	margin-left: 0px;
	    	margin-top: .5rem;
	    	padding: .1rem 1rem;

	    }
	}
}